[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authy = "*"
django-environ = "*"
django-phonenumber-field = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
phonenumbers = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
docutils = "*"
Django = "*"
Markdown = "*"
drf_yasg = "*"
black = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"

